name: Build and Deploy
on: [push]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: vuepress-deploy
      uses: jenkey2011/vuepress-deploy@master
      env:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        TARGET_REPO: Minecraft-Wintertime/Wintertime-docs
        TARGET_BRANCH: gh_pages
        BUILD_SCRIPT: cd docs && yarn && yarn docs:build
        BUILD_DIR: docs/src/.vuepress/dist
        # CNAME: https://wintertime.kossnikita.ru